.modal-sheet {
    .modal-dialog {
        width: 380px;
        transition: bottom .75s ease-in-out;
    }

    .modal-create-product {
        width: 600px !important;
    }

    .modal-footer {
        padding-bottom: 2rem;
    }
}
