name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore ./backend/PhotovoltaicSystemCalculation/PhotovoltaicSystemCalculation.sln
    - name: Build
      run: dotnet build ./backend/PhotovoltaicSystemCalculation/PhotovoltaicSystemCalculation.sln --no-restore --configuration Release --output ./artifacts
    - name: Upload build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: build-artifacts
        path: ./artifacts

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Download build artifacts
      uses: actions/download-artifact@v2
      with:
        name: build-artifacts
        path: ./artifacts
    - name: Test
      run: dotnet test ./backend/PhotovoltaicSystemCalculation/PhotovoltaicSystemCalculation.sln --no-build --verbosity normal
